In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("fake_car_loan_data.csv")

In [4]:
df.shape

(100000, 15)

In [43]:
df['vehicle_model'].value_counts()

vehicle_model
Terrain             2829
Camaro              2794
Silverado 1500      2790
Yukon               2787
Traverse            2786
Blazer              2786
Sierra 3500HD       2780
Acadia              2777
Malibu              2761
Sierra 2500HD       2758
Suburban            2756
Sierra 1500         2751
Trax                2747
Impala              2745
Equinox             2740
Silverado 2500HD    2739
Canyon              2738
Yukon XL            2721
Tahoe               2692
Trailblazer         2689
Colorado            2682
Silverado 3500HD    2680
Bolt EV             2680
Hummer EV           2664
Corvette            2600
CT4                 2378
XT6                 2375
Escalade ESV        2368
Celestiq            2366
Escalade            2360
Lyriq               2321
CT5                 2314
XT5                 2286
XT4                 2271
Enclave             2144
Regal               2099
Envision            2095
Encore GX           2086
Encore              2065
Name: count, dtype: int64

In [5]:
df.sample(2)

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status
20720,CUST00020721,29906.76,Chevrolet,Silverado 1500,2024,13600.84,17.04,19.78,36,False,22,505,2022-07-29,2025-07-13,Paid Off
56777,CUST00056778,36036.05,Chevrolet,Bolt EV,2022,21234.85,18.79,18.52,48,True,25,581,2023-10-03,2027-09-12,Current

In [4]:
df.loan_status.value_counts()

loan_status
Current        56452
Late           13045
Paid Off       12708
Delinquent      6908
Default         4353
Charged Off     4306
Settled         2228
Name: count, dtype: int64

In [27]:
bad = ['Default','Paid Off','Charged Off','Delinquent']
good = ['Settled','Paid Off']
tbd = ['Current']

In [28]:
bad_account = df.query("loan_status in @bad")
good_account = df.query("loan_status in @good")
tbd_account = df.query("loan_status in @tbd")

In [29]:
bad_account['target'] = 1
good_account['target'] = 0
tbd_account['target'] = 0

/tmp/ipykernel_6076/2766037706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bad_account['target'] = 1
/tmp/ipykernel_6076/2766037706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  good_account['target'] = 0
/tmp/ipykernel_6076/2766037706.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tbd_account['target'] = 0

In [31]:
tbd_account['ratio']  = tbd_account['num_successful_payments'] / tbd_account['loan_term_months']

/tmp/ipykernel_6076/3185310416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tbd_account['ratio']  = tbd_account['num_successful_payments'] / tbd_account['loan_term_months']

In [36]:
tbd_account['ratio'] = tbd_account['num_successful_payments'] / tbd_account['loan_term_months'] 
print(tbd_account[tbd_account['ratio']>0.6].shape)
print(tbd_account[tbd_account['ratio']>0.6].shape[0]/tbd_account.shape[0])
tbd_account_filtered = tbd_account[tbd_account['ratio']>0.6].drop(columns='ratio')
tbd_account_filtered

(18754, 17)
0.33221143626443705

/tmp/ipykernel_6076/1689242868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tbd_account['ratio'] = tbd_account['num_successful_payments'] / tbd_account['loan_term_months']

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status,target
0,CUST00000001,118806.11,Cadillac,XT6,2023,82305.20,14.07,15.51,36,True,28,611,2023-07-02,2026-06-16,Current,0
15,CUST00000016,65910.51,GMC,Sierra 1500,2023,33031.08,14.63,17.22,48,True,34,644,2023-06-12,2027-05-22,Current,0
44,CUST00000045,101781.45,GMC,Sierra 2500HD,2023,86374.53,6.76,5.86,48,True,43,740,2024-10-13,2028-09-22,Current,0
50,CUST00000051,75717.19,Buick,Regal,2025,15663.59,17.40,17.80,48,True,31,596,2022-03-16,2026-02-23,Current,0
53,CUST00000054,81788.59,GMC,Canyon,2024,74652.11,4.48,3.89,72,True,45,835,2024-06-21,2030-05-21,Current,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99976,CUST00099977,106548.85,GMC,Yukon,2023,53838.87,13.06,14.10,48,True,33,604,2024-11-17,2028-10-27,Current,0
99986,CUST00099987,75961.93,Buick,Encore,2022,48282.14,11.64,12.95,24,False,21,620,2025-04-11,2027-04-01,Current,0
99992,CUST00099993,71644.90,GMC,Hummer EV,2023,83863.73,4.52,4.27,60,True,41,747,2023-09-13,2028-08-17,Current,0
99993,CUST00099994,77649.10,Buick,Encore GX,2025,36861.63,4.54,6.87,60,True,46,715,2025-02-03,2030-01-08,Current,0
99994,CUST00099995,57269.09,GMC,Acadia,2025,22339.26,9.77,9.69,36,False,29,678,2024-10-14,2027-09-29,Current,0

In [38]:
final_v2 = pd.concat([bad_account, good_account, tbd_account_filtered], axis=0, ignore_index=True)
final_v2['autopay_enrolled'] = final_v2['autopay_enrolled'].replace({True: 'yes', False: 'no'})

In [39]:
final_v2

,customer_id,annual_income,vehicle_make,vehicle_model,vehicle_year,loan_amount,initial_apr,current_apr,loan_term_months,autopay_enrolled,num_successful_payments,credit_score,loan_start_date,loan_end_date,loan_status,target
0,CUST00000002,101292.44,Chevrolet,Colorado,2023,55012.24,6.51,9.11,36,yes,32,714,2024-01-07,2026-12-22,Charged Off,1
1,CUST00000005,83076.23,Cadillac,CT4,2023,39342.71,15.21,15.01,36,yes,11,549,2022-07-29,2025-07-13,Paid Off,1
2,CUST00000006,42353.38,Chevrolet,Malibu,2023,10122.45,17.48,17.50,36,yes,16,499,2022-04-12,2025-03-27,Paid Off,1
3,CUST00000008,61357.48,Buick,Encore,2023,30288.31,15.69,17.15,48,yes,28,529,2023-07-23,2027-07-02,Default,1
4,CUST00000009,51968.02,Chevrolet,Corvette,2024,24410.81,14.57,17.16,72,yes,24,569,2024-10-28,2030-09-27,Paid Off,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61960,CUST00099977,106548.85,GMC,Yukon,2023,53838.87,13.06,14.10,48,yes,33,604,2024-11-17,2028-10-27,Current,0
61961,CUST00099987,75961.93,Buick,Encore,2022,48282.14,11.64,12.95,24,no,21,620,2025-04-11,2027-04-01,Current,0
61962,CUST00099993,71644.90,GMC,Hummer EV,2023,83863.73,4.52,4.27,60,yes,41,747,2023-09-13,2028-08-17,Current,0
61963,CUST00099994,77649.10,Buick,Encore GX,2025,36861.63,4.54,6.87,60,yes,46,715,2025-02-03,2030-01-08,Current,0
61964,CUST00099995,57269.09,GMC,Acadia,2025,22339.26,9.77,9.69,36,no,29,678,2024-10-14,2027-09-29,Current,0

In [42]:
final_v2.columns

Index(['customer_id', 'annual_income', 'vehicle_make', 'vehicle_model',
       'vehicle_year', 'loan_amount', 'initial_apr', 'current_apr',
       'loan_term_months', 'autopay_enrolled', 'num_successful_payments',
       'credit_score', 'loan_start_date', 'loan_end_date', 'loan_status',
       'target'],
      dtype='object')

In [44]:
final_v2[['annual_income','loan_amount','loan_term_months','credit_score','autopay_enrolled','target']].to_csv("loan_ready_ml_v4.csv", index = False)

In [ ]:
#final.to_csv("loan_ready_ml.csv")

In [ ]:
nnual_income, loan_amount, loan_term_months and credit_score